<!-- <!DOCTYPE html>    -->
<!-- <html lang="en">    -->
<!-- <head>   
<meta charset="utf-8">   
<title>Final Output</title>   
<meta name="description" content="Bootstrap.">  
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>



</head>   -->
<!-- <body style="margin:20px auto">   -->
<div class="container">
    <div class="row header" style="text-align:center;color:green"></div>

    <div style="margin-top: 16px; display: flex;">
        <span style="margin-right: auto; font-weight: bold;">Bill of Material</span>
        <button type="button" class="btn btn-primary" (click)="openPopup()">New Record</button>
    </div>

    <ngx-datatable class="bootstrap" id="item-master" [rows]="itemList" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarH]="true" [reorderable]="false" [sortType]="sortType" [externalPaging]="true" [count]="page.totalElements"
        [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)" [externalSorting]="true" [loadingIndicator]="loading" (sort)="onSort($event)">
        <ng-container *ngFor="let col of cols;">
            <ngx-datatable-column [resizeable]="false" [name]="col.name" [prop]="col.prop" [width]="col.width">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span *ngIf="col.prop == 'lot_ref_no'"><a style="text-decoration: none;" routerLink="/partlist"
              [queryParams]="{lotNo: value}">{{value}}</a></span>
                    <span *ngIf="col.prop == 'serial_no'">{{(page.pageNumber * page.size) + (rowIndex + 1)}}</span>
                    <span *ngIf="col.prop != 'lot_ref_no' && col.prop != 'serial_no'">{{ value }}</span>
                </ng-template>
            </ngx-datatable-column>
        </ng-container>
    </ngx-datatable>

    <!-- <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>NO</th>
                <th>Lot Ref No</th>
                <th>Customer Code</th>
                <th>Customer Name</th>
                <th>Customer Location</th>
                <th>Project Code</th>
                <th>Project Description</th>
                <th>CreatedAt</th>
                <th>Destination Customer Name</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let i of itemList">
                <tr>
                    <td><a routerLink="/partlist" [queryParams]="{lotNo:i.item_id}">{{i.item_id}}</a></td>
                    <td>{{i.lot_ref_no}}</td>
                    <td>{{i.customer_code}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.customer_location}}</td>
                    <td>{{i.project_code}}</td>
                    <td>{{i.project_name}}</td>
                    <td>{{i.createdDate}}</td>
                    <td>{{i.country}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table> -->

    <!-- The Modal -->
    <div class="modal fade" id="createItemModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create New Record</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <form name="fileupload">
                                    <div class="form-group row mt-2">
                                        <div class="col-sm-6">
                                            <label for="inputFirstname">Project Code <span class="mandatory">*</span></label>
                                            <select class="form-control" name="project_code" [(ngModel)]="item.project_code">
                        <option>Select</option>
                        <option *ngFor="let item of this.projectList;let i = index" value="{{item.project_id}}">
                          {{item.project_name}}
                        </option>
                      </select>
                                            <!--<input type="text" class="form-control" id="projectCode" placeholder="Project Code">-->
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="inputCity">Lot Size <span class="mandatory">*</span></label>
                                            <input type="text" class="form-control" name="lot_size" [(ngModel)]="item.lot_size" placeholder="Lot Size">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">

                                        <div class="col-sm-6">
                                            <label for="inputLastname">Customer Code<span class="mandatory">*</span></label>
                                            <select class="form-control" name="customer_code" [(ngModel)]="item.customer_code">
                        <option>Select</option>
                        <option *ngFor="let item of this.customerList;let i = index" value="{{item.customer_id}}">
                          {{item.name}}
                        </option>
                      </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="inputState">Customer Login<span class="mandatory">*</span></label>
                                            <select class="form-control" name="customer_login" [(ngModel)]="item.customer_login">
                        <option>0</option>
                        <option *ngFor="let item of this.dataList;let i = index" value="test">

                        </option>
                      </select>
                                        </div>

                                    </div>
                                    <div class="form-group row mt-2">
                                        <div class="col-sm-6">
                                            <label for="inputAddressLine1">Origin Country<span class="mandatory">*</span></label>
                                            <select class="form-control" name="org_country_id" [(ngModel)]="item.org_country_id">
                        <option>Select</option>
                        <option *ngFor="let item of this.countryList;let i = index" value="{{item.id}}">
                          {{item.name}}
                        </option>
                      </select>
                                        </div>

                                        <div class="col-sm-6">
                                            <label for="inputPostalCode">Excel File<span class="mandatory">*</span></label>
                                            <input (change)="this.onFileSelected($event)" type="file" class="form-control" id="inputPostalCode" placeholder="Upload File">
                                        </div>


                                    </div>
                                    <div class="form-group row mt-2">
                                        <div class="col-sm-6">
                                            <label for="inputAddressLine1">Packaging Type<span class="mandatory">*</span></label>
                                            <select class="form-control" name="packing_type" [(ngModel)]="item.packing_type">
                        <option>Select</option>
                        <option *ngFor="let item of this.packagingTypeList;let i = index" value="{{item.id}}">
                          {{item.type}}
                        </option>
                      </select>
                                        </div>

                                        <div class="col-sm-6">
                                            <label for="inputPostalCode">Lot Ref No<span class="mandatory">*</span></label>
                                            <input type="text" class="form-control" id="lotRefNo" placeholder="Lot Ref No" name="lot_ref_no" [(ngModel)]="item.lot_ref_no">
                                        </div>


                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="inputContactNumber">Containers<span class="mandatory">*</span></label>
                                        <div *ngFor="let containers of getContainersFormControls(); let i = index">

                                            <input [formControl]="containers" type="text" class="form-control" id="containers" placeholder="Containers" name="containers">
                                            <!--<label>Phone {{i}} </label> -->
                                            <button type="button" (click)="removeContainers(i)">Remove</button>
                                            <button type="button" (click)="addContainers()">Add</button>
                                        </div>

                                    </div>

                                    <div class="mt-2">
                                        <button type="button" class="btn btn-success" (click)="createNewRecord()">
                      Create
                    </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" (click)="closePopup()">
            Close
          </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- </body>   -->


<!-- </html>   -->