<!--<div class="container" style="margin-left: 300px;">
  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div>-->
<div class="loginBox">
    <img class="user" src="assets/images/company-logo.jpeg" height="50px" width="250px">
    <!--<h3>Sign in</h3>-->
    <form action="login.php" method="post">
        <div class="inputBox"> 
            <input id="uname" type="text" [(ngModel)]="username" name="Username" placeholder="Username"> 
            <input id="pass" type="password" [(ngModel)]="password" name="Password" placeholder="Password"> 
        </div> 
            <input type="submit" name="" value="Login" (click)=checkLogin()>
    </form>
    <!--<a href="#">Forget Password<br> </a>
    <div class="text-center">
        <p style="color: #59238F;">Sign-Up</p>
    </div>-->

</div>