/* You can add global styles to this file, and also import other style files */


 @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; 

#item-master {
    width: 100%;
}

#item-master .datatable-header-cell.sortable.sort-active .datatable-header-cell-label {
    color: #3699ff;
}

#item-master .datatable-header-cell.sortable.sort-active .sort-btn {
    color: #3699ff;
}

.datatable-header-cell {
    font-weight: bold;
}