
<div class="w3-container w3-card login-card">
	<form>
		<div class="split left">
			<div style="margin-left: 20%;">
				<h4>Choose your card design</h4>
		
			<img src="assets/{{cardImg}}.jpg" class="logo" style="width: 30%;">
		</div>
		<div>
			<img src="assets/gCard3.jpg" class="logo" style="width: 20%;" (click)="imageDynamic('gCard3')">
			<img src="assets/gCard2.jpg" class="logo" style="width: 20%;" (click)="imageDynamic('gCard2')">
			<img src="assets/gCard1.jpg" class="logo" style="width: 20%;" (click)="imageDynamic('gCard1')">
		</div>
		<button class="w3-btn w3-blue" style="margin-left: 25%; width: 25%; border-radius: 8%;">Add to Card</button>
	</div>	
	
		<div class="split right">
		<div style="margin-left: 10%;">
			<label>Your Gift amount = 100 SEK</label>
			<button class="w3-btn w3-green" style="margin-left: 17%; width: 25%; border-radius: 8%;">Change</button>
		</div>
		<div class="dotted" style="margin-top: 3%;margin-right: 12%;height: 82%;">
		<div style="margin-top: 5%;border-bottom: dotted;padding-bottom: 5%;">
				<label style="margin-left: 5%;">Friend's full Name</label>
				<input type="text" style="width: 50%;margin-left: 10%;" placeholder="Friend's full Name">
		</div>

		<div style="margin-top: 7%;">
				<label style="margin-left: 5%;">Choose Delivery Method</label><br><br>
				<button class="w3-btn w3-yellow" style="margin-left: 10%;width: 40%;">Digital</button>
				<button class="w3-btn w3-blue" style="width: 40%;">Print</button>
		</div>

		<div style="margin-top: 2%; border-bottom: dotted;">
			<img style="margin-left: 18%;width: 10%;"  src="assets/mail.png">
			<img style="width: 12%; margin-left: 6%;" src="assets/chat.png">
			<img style="margin-left: 14%;" src="assets/address.png">
<br>
			<label style="margin-left: 19%;">Email ID</label>
			<label style="margin-left: 5%;">Phone number</label>
			<label style="margin-left: 9%;">Customer address</label>
		</div>

		<div style="margin-top: 4%;border-bottom: dotted;padding-bottom: 3%;">
				<label style="margin-left: 5%;">Schedule Delivery</label><br>
				<input class="w3-radio" type="radio" name="gender" value="Instant" style="margin-left: 11%;" checked>
				<label>Instant</label>

				<input class="w3-radio" type="radio" name="gender" value="Scheduled" style="margin-left: 21%;" checked>
				<label>Scheduled</label>

			</div>
			<div style="margin-top: 3%;">
					<label style="margin-left: 5%;">Add a Message</label>
				<input type="text" style="width: 50%;margin-left: 13%;" placeholder="Add a Message">
			</div>
		</div>
			</div>
	</form>
	
</div>
