<body>
    <div *ngIf="isUserLoggedIn()" class="container-fluid">
        <app-main-header></app-main-header>
        <div class="sidebar">
            <a *ngIf="isUserLoggedIn()" routerLink="dashboard">Dashboard</a>
            <a *ngIf="isUserLoggedIn()" routerLink="item-master" routerLinkActive="active">Item Master</a>
            <a *ngIf="isUserLoggedIn()" routerLink="project">Project Code</a>
            <a *ngIf="isUserLoggedIn()" routerLink="customer">Customer Code</a>
            <!--<a href="#about">Image Upload</a>
            <a href="#about">Scanner</a>-->
            <a *ngIf="isUserLoggedIn()" routerLink="gunscanner">Gun Scanner</a>
            <a *ngIf="isUserLoggedIn()" routerLink="logout">Logout</a>
        </div>



    </div>
    <div style="margin-left: 250px;">

        <app-rightside-header></app-rightside-header>
        <!--<app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>-->
        <router-outlet></router-outlet>
    </div>
