<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">
        <app-main-header></app-main-header>
        <div class="sidebar">
            <a routerLink="dashboard">Dashboard</a>
            <a routerLink="item-master" routerLinkActive="active">Item Master</a>
            <a routerLink="project">Project Code</a>
            <a routerLink="customer">Customer Code</a>
            <!--<a href="#about">Image Upload</a>
            <a href="#about">Scanner</a>-->
            <a routerLink="gunscanner">Gun Scanner</a>
        </div>
       
        <div style="margin-left: 250px;">

            <app-rightside-header></app-rightside-header>
            <!--<app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>-->
            <router-outlet></router-outlet>
        </div>
        
    </div>

</body>

</html>