<div class="w3-container w3-card login-card">
	<form>
		<div>
			<div style="margin-left: 5%;">
				<h4 style="margin-left: 3%;">Hi Joel, <br>
          Many congratulations on your new house. <br>
          Hope that this IKEA gift card will help you design your dream house.<br>
          Regards, Martha Everdeen
          </h4>
		
          <button class="w3-btn w3-green" style="margin-left: 3%;width: 45%;">You have received an IKEA Gift card worth = 100 SEK
          </button> <br>
					


			<div>		
    <img src="assets/gCard3.jpg" class="logo" style="width: 12%;margin-left: 4%;"><br>
    <label>Use gift card number 627812345678 <br> for  buying online and on IKEA app</label><br>
    <button class="w3-btn w3-blue" style="width: 15%;margin-top: 1%;border-radius: 8%;margin-left: 2%;">Redeem it now</button> 
  </div>
    <div style="margin-top: -24%;">
    <img src="assets/qr.jpg" class="logo" style="width: 13%;margin-left: 34%;">
    <label style="margin-left: -16%;">Scan this QR code while </label><br> <label style="margin-left: 33%;"> shpping in an IKEA Store</label><br>
    <button class="w3-btn w3-blue" style="margin-left: 26%;width: 28%;margin-top: 1%; border-radius: 8%;">Valid across all IKEA Sweden Stores
    </button> <br>
    <button class="w3-btn w3-blue" style="margin-left: 35%;width: 19%;margin-top: 1%; border-radius: 8%;">Reply to Thank Martha
    </button> <br>
  </div>

		<br>
			
	
		</div>
		
		
	</div>	
	
		
	</form>
	
</div>
