<div class="w3-container w3-card login-card">
	<form>
		<div class="split left">
      
      <div style="margin-left: 5%;float: left;width: 28%;">
          <img src="assets/profile.jpg" class="logo" style="width: 80%;">
      </div>
      <div style="float: right;margin-top: 5%;margin-right: 40%;">
         <div style="font-weight: bold;"> Joel Burns </div>
<div style="margin-top: 50%;">
            Email: a@b.com
</div>
<div>          Phone: 7611008291 </div>
            
    
        </div> 
        
        <div >
            <img src="assets/gCard9.jpg"  style="margin-top: 22%;margin-left: -6%;">

        </div>
        <div style="margin-left: 1%;">

            Gift them what they really want. This online gift card is the perfect present for anyone.

        </div>
        
	</div>
		
	
   

    <div class="split1 right">
<div style="margin-top: 7%;">
        <button class="w3-btn w3-blue" style="width: 22%;">Open Order </button>
				<button class="w3-btn w3-green" style="width: 22%;">Closed Order
          </button> 

          <button class="w3-btn w3-blue" style="width: 23%;">Cancelled </button>
              <button class="w3-btn w3-blue" style="width: 23%;">Returned </button>  
          <div style="margin-top: 3%;">
              Gift card history:

              <table class="table" style="width: 90%;">
                  <thead style="background-color: darkgrey;">
                  <tr>
                      <th>Number</th>
                      <th>Received/Gifted</th>
                      <th>Status</th>
                      <th>Amount</th>
                      <th>Amount Availed</th>
                      <th>Remaining</th>
                  </tr>
                  </thead>
                  <tbody style="background-color: lightgrey;">
                  <tr *ngFor="let d of data1">
                      <td style="background-color: hotpink;"><a href="#">{{d.number}}</a></td>
                      <td>{{d.status}}</td>
                      <td>{{d.availamount}}</td>
                      <td>{{d.avail}}</td>
                      <td>{{d.remain}}</td>
                      <td>{{d.remain}}</td>
                  </tr>
                  </tbody>
                </table>
                <label>Click on each gift card to view more details
                  </label>
          </div>
          <div style="margin-top: 12%;">
            6278xxxx5678 details
                <div style="margin-left: -3%;">
                    <img src="assets/gCard10.jpg" class="logo">
                  </div>
    <div style="margin-left: 28%; margin-top: -24%;"> 
        Received from – Martha Everdeen<br>
        Date – 6th March 2020<br>
        Delivery method – Mail<br>
        Gift amount – 100 SEK<br>
        Remaining – 100 SEK<br>
        Valid Until – 20th December 202
        <div style="margin-left: 51%;margin-top: -23%;">
            <button class="w3-btn w3-green" style="/* width: 20%; */margin-bottom: 17%;">Send her a gift card</button>
            <button class="w3-btn w3-green" style="width: 68%;">Redeem it now</button> 
        </div>
    </div>
          </div>
      </div>

      
       
    </div>

	</form>
	
</div>
