<div class="w3-container w3-card login-card">
	<form>
		<div class="split left">
			<div style="margin-left: 5%;">
				<h4 style="margin-left: 3%;">Order Summary</h4>
		
				
					<table class="table">
					  <thead>
						<tr>
						  <th>Product</th>
						  <th>Quantity</th>
						  <th>Amount</th>
						</tr>
					  </thead>
					  <tbody>
						<tr *ngFor="let d of data">
						  <td>{{d.product}}</td>
						  <td>{{d.quantity}}</td>
						  <td>{{d.amount}}</td>
						</tr>
					  </tbody>
					</table>


					<button class="w3-btn w3-blue" style="margin-left: 5%;width: 45%;margin-top: 5%;">Order Total = {{totalAmt}} SEK</button> <br>
		<img src="assets/gCard3.jpg" class="logo" style="width: 20%;margin-left: 17%;">
		<br>
			<button class="w3-btn w3-blue" style="border-radius: 50%;padding: 0%;width: 4%;">i</button>
			IKEA Terms and Conditions

	
		</div>
		
		
	</div>	
	
		<div class="split right">
			<button class="w3-btn w3-blue" style="margin-left: 3%;width: 72%;margin-top: 5%;margin-bottom: 3%;">Amount Due = {{totalAmt}} SEK</button> 
			<div>
					
			<label style="margin-left: 5%;">Available Payment Methods</label> <br>

			
				<img src="assets/pay1.jpg" class="logo" style="width: 20%;">
				<img src="assets/pay9.jpg" class="logo" style="width: 20%;">
				<img src="assets/pay4.jpg" class="logo" style="width: 20%;"> <br>

				<img src="assets/pay3.jpg" class="logo" style="width: 20%;">
				<img src="assets/pay8.jpg" class="logo" style="width: 20%;">
				<img src="assets/pay2.jpg" class="logo" style="width: 20%;">

			
			
			
			</div>
			<button class="w3-btn w3-green" style="margin-left: 3%;width: 72%;margin-top: 5%;margin-bottom: 3%;">Payment Completed = {{totalAmt}} SEK</button> 		
	
		
		</div>
	</form>
	
</div>
