    <div style="margin-top: 16px; display: flex;">
        <span style="margin-right: auto; font-weight: bold;">Bill of Material</span>
        <button type="button" class="btn btn-primary"> <a target="_blank" routerLink="/picklable" style="color: aliceblue;">Pick Lable</a></button>
    </div>

   <!-- <ngx-datatable tableClass="table table-striped table-bordered table-hover" [data]="data" [options]="options"
                   [columns]="columns">
    </ngx-datatable>-->
    <div class="container">
        <div class="row header" style="text-align:center;color:green"></div>
        <table id="myTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Bom No</th>
                    <th>Status</th>
                    <th>Qty Scanned/Total no of Packing Grp</th>
                    <th>Part No</th>
                    <th>Description</th>
                    <th>Packing Group</th>
                    <th>Store Location</th>
                    <th>Validity</th>
                    <th>Part Label</th>
                    <th>Case Report</th>

                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let p of partList">
                    <tr>
                        <td>{{p.bomNo}}</td>
                        <td [ngStyle]="{'background-color': p.colorCode}">{{p.labelStatus}}</td>
                        <td>{{p.totalPartScanned}}</td>
                        <td>{{p.partNo}}</td>
                        <td>{{p.partDescription}}</td>
                        <td>{{p.packingGroup}}</td>
                        <td>{{p.stLoction}}</td>
                        <td>{{p.validity}}</td>
                        <td *ngIf="p.enablePartLabel"><a style="color: forestgreen; " routerLink="/barcode" (click)="passObject(p)"><fa-icon [icon]="faBarcode"></fa-icon></a></td>
                        <td *ngIf="!p.enablePartLabel">Pick Label Yet to be Scan</td>
                        <!--*ngIf="p.enablePartLabel"-->
                        <td *ngIf="p.enableCaseReport"><a style="color: forestgreen; " (click)="openPopup(p)"><fa-icon [icon]="faFileDownload"></fa-icon></a></td>
                        <td *ngIf="!p.enableCaseReport">-</td> 

                    </tr>

                </ng-container>
            </tbody>
        </table>



        <!-- The Modal -->
        <div class="modal fade" id="createItemModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Weight</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container py-5">
                            <div class="row">
                                <div class="col-md-10 mx-auto">
                                    <form name="fileupload">
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="inputCity">Net Weight<span class="mandatory">*</span></label>
                                                <input type="text" class="form-control" name="net" placeholder="Net Weight" [(ngModel)]="case.netWeight">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="inputCity">Gross Weight <span class="mandatory">*</span></label>
                                                <input type="text" class="form-control" name="gross"  placeholder="Gross Weight" [(ngModel)]="case.grossWeight">
                                            </div>
                                        </div>
                                        <div>
                                            <button type="button" (click)="createNewRecord(case,bomObject)" class="btn btn-success">
                                                Update & Download
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-danger" (click)="closePopup()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

